// Fonts
$font-family-primary: 'Open Sans', sans-serif;

$font-size-sm: 1.2rem;
$font-size-md: 1.4rem;
$font-size-lg: 1.8rem;
$font-size-xl: 2.5rem;

// Colors
$color-primary: #0a98c7;
$color-secondary: #020233;
$color-light: #fff;
$color-dark: #000;
$color-disabled: #ccc;

// Gaps
$p-xs: 1rem;
$p-sm: 1.5rem;
$p-md: 2rem;
$p-lg: 2.5rem;
$p-xl: 3rem;

$m-xs: 1rem;
$m-sm: 1.5rem;
$m-md: 2rem;
$m-lg: 2.5rem;
$m-xl: 3rem;

// Other
$max-width-limit: 145rem;

$border-width-primary: 0.1rem;
